@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Bold.woff2") format("woff2"),  
        url("../fonts/Causten-Bold.woff") format("woff");
        
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
