@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://db.onlinewebfonts.com/c/4e74d01c3fd12ecda30a2e98799444dd?family=CoreSansC-65Bold");

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Bold.woff") format("woff");

   font-display: swap;
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Semi-Bold.woff") format("woff");

   font-display: swap;
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Light.woff2") format("woff2"),
      url("../fonts/Causten-Light.woff") format("woff");

   font-display: swap;
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Regular.woff2") format("woff2"),
      url("../fonts/Causten-Regular.woff") format("woff");

   font-display: swap;
   font-weight: 400;
   font-style: normal;
}